/*    всплывающие окно backdrop  */
.backdrop {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms ease-in-out;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
    padding: 40px;
    z-index: 100;
    background-color: var(--background-color);
    border-radius: 4px;
    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}
.modalbtn {
    position: absolute;
    top: 8px;
    right: 8px;
    color:var(--background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 6px 6px;
    background-color: transparent;
    vertical-align: middle;
    &:hover,
    &:focus {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.modalbtn__svg {
    height: 18px;
    width: 18px;
}

/*модальное окно*/

.modal__window-title {
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    height: 23px;
    width: 100%;
    margin-bottom: 12px;
}
.form__field {
    margin-bottom: 10px;
    &.margin-b-twentypx {
        margin-bottom: 20px;
    }
}
.input-wrap {
    position: relative;
}
.form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 35px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color-zag);
    outline: none;
    cursor: pointer;
    &:focus {
        border-color: var(--accent-color);
    }
    &:focus + .input-icon {
        fill: var(--accent-color);
    }
    
}
.form__wrap {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.input-icon {
    fill: var(--text-color-zag);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    display: block;
    margin-bottom: 4px;
    &.labelx {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: var(--primary-text-color);
        display: block;
        margin-bottom: 4px;
    }
}
.form__field.margin-button {
    margin-bottom: 30px;
    display: flex;
}
.form__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    color: rgba(117, 117, 117, 0.5);
    resize: none;
}
.form__check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    position: relative;
}
.form__text-provisions {
    color: var(--accent-color);
    margin-left: 4px;
}
.form__check-text::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--text-color-zag);
    border-radius: 2px;
    margin-right: 7px;
    background-image: url(../images/vector.svg);
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
}
.form__check:checked + .form__check-text::before {
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

.btnsend {
    text-align: center;
}
.btnsend__window {
    height: 50px;
    width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--background-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border:none;
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
