.section-team {
    background-color: var(--fon-background-color-two);
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.section-team__zag {
    text-align: center;
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.team__feature-list {
    margin-bottom: -30px;
    @media screen and (min-width: 768px) {  
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    } 
}
.team__point {
    background-color: var(--background-color);
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
    max-width: 450px;
    @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 30px);
        margin-right: 30px;
    } 
    @media screen and (min-width: 1200px) {
        width: calc(100%  / 4 - 30px);
        margin-bottom: 0;
    }
}
.team__name {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__title {
    color: var(--text-color-zag);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.team__text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}


.masters-social__list {
    display: flex;
    justify-content: center;
}
.masters-social__item + .masters-social__item {
    margin-left: 10px;
}
.master-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.master-social__link {
fill: var(--color-icon-primary);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill:var(--background-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
