
.section-work {
    background-color: var(--background-color);
    padding-top: 0px;
    padding-bottom: 94px;
}
.section-work__zag {
    text-align: center;
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.section-work-containers {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.work__feature-list {
    display: flex;
    justify-content: center;
}
.work__point {
    height: 294px;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    position: relative;
    display: block;
    width: 370px;
    &:nth-child(3n) {
        margin-right: 0;
    }
    
}

.work__title-img {
    position: absolute;
    padding: 27px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color);
}