:root {
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --text-color-zag: #212121;
    --background-color: #FFFFFF;
    --fon-background-color: #E5E5E5;
    --fon-background-color-two: #F5F4FA;
    --fon-background-color-footer: #2F303A;
    --border-line-heder: #ECECEC;
    --border-icon: #EEEEEE;
    --color-icon-primary:#AFB1B8;
}

